<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/meyawo-1.0.0/meyawo-1.0.0/assets/imgs/IMG_20221116_143920_195.jpg);"></div>
            <h3>Safa Yüce</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Default/Index/"><span class="fa fa-home mr-3"></span> Siteye Git</a>
        </li>
        <li>
            @*<a href="~/Templates/meyawo-1.0.0/meyawo-1.0.0/assets/imgs/cv.pdf" download="cv.pdf" class="btn-rounded btn btn-outline-primary mt-4">Cv'mi İndirin</a>*@
            <a href="~/Templates/meyawo-1.0.0/meyawo-1.0.0/assets/imgs/cv.pdf" download="cv.pdf"><span class="fa fa-download mr-3 "><small class="d-flex align-items-center justify-content-center"></small></span> Cv'mi İndir </a>
        </li>
        <li>
            <a href="/Statistic/Index"><span class="fa fa-line-chart mr-3" aria-hidden="true"></span>Dashboard</a>
        </li>
        <li>
            <a href="/Contact/Index"><span class="fa fa-comments mr-3" aria-hidden="true"></span>İletişim</a>
        </li>
        <li>
            <a href="/Category/Index"><span class="fa fa-list mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-file mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/About/Index"><span class="fa fa-address-card mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index"><span class="fa fa-fire mr-3"></span> Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index"><span class="fa fa-header mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Pricing/Index"><span class="fa fa-money mr-3"></span>Fiyatlandırmam</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><span class="fa fa-commenting-o mr-3"></span> Sosyal Medya </a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fa fa-users mr-3"></span> Referanslarım</a>
        </li>
    </ul>

</nav>
